* {
    margin: 0;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 10% 35% 35% 20%;
    grid-template-areas:
        "header header header"
        "main-left main-right aside-up"
        "main-left main-right aside-down"
        "footer footer footer";
}

.grid header {
    grid-area: header;
    background: #D9D9D9;
}

.main-left {
    grid-area: main-left;
    background: #A4A4A4;
}

.main-right {
    grid-area: main-right;
    background: #C1C1C1;
}

.aside-up {
    grid-area: aside-up;
    background: #7F7A7A;
}

.aside-down {
    grid-area: aside-down;
    background: #6B6161;
}

.grid footer {
    grid-area: footer;
    background: #D9D9D9;
}