* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 900px;
    height: 800px;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 200px;
    height: 200px;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}
h1  {
    font-size: 20px;
}
li {
    margin-top: 10px;
}

