* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;

}

.card-header-1{
    width: 100px;
    height: 100px;
    fill: #FFF;
    stroke-width: 4px;
    stroke: #554C4C;
    position: absolute;
    background-color: #fff;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid black;
}
.card-header-2{
    width: 100px;
    height: 100px;
    fill: #FFF;
    stroke-width: 4px;
    stroke: #554C4C;
    position: absolute;
    background-color: #fff;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid  #65856E;
}
.card-header-3{
    width: 100px;
    height: 100px;
    fill: #FFF;
    stroke-width: 4px;
    stroke: #554C4C;
    position: absolute;
    background-color: #fff;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 4px solid black;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
}

.card-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 319px;
    height: 492px;
    border: 4px solid #65856E;
    background: rgba(217, 217, 217, 0.30);
}
.card h1{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.card p{
    width: 211px;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;

}
.card-2 h1{
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.card-2 p{
    width: 211px;
    color: #000;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;

}