* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: blue;
    height: 500px;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.header p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-size: 40px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.main-container {
    width: 490px;
    height: 400px;
    background-color: darkblue;
}
.main-container p {
    display: flex;
    justify-content: center;
    padding-top: 35%;
    color: white;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

footer {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    margin-top: 20px;
}

footer p {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20%;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}
