@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1E1E1E;
}

.w-1340 {
    width: 1340px;
    margin: 0 auto;
}

nav {
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 59px;
}

ul a {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}

.nav__active-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
}

.header-title{
    width: 1255px;
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 107.088px;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    margin: 72px auto 33px auto;
}

.header-img{
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 396px;
}

.main-up{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1340px;
    height: 369px;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    margin-top: 32px;
}

.left-burger {
    width: 533px;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    margin: 98px 28px 85px 109px;
}

.right-burger{
    display: flex;
    flex-direction: column;
}

.lorem{
    width: 521px;
    height: 75px;
    color: #1E1E1E;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    margin: 0 149px 0px 0px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 60px;
    border: 4px solid #1E1E1E;
    background: #E9E3DC;

    /* DropShadow */
    box-shadow: 8px 8px 0 0 #000;
}

.about p{
    width: 106px;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}

.main-midle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
}

.main-down{
    margin-top: 21px;
}

.footer{
    display: flex;
    width: 895px;
    margin: 64px 222px 0 223px;

}

.footer p {
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}
.footer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    height: 60px;
    background: #D1EF53;
    margin: 36px 621px 36px 623px;
}
.footer-button a {
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    text-decoration: none;
}


